h1{font-family:cursive;
    font-size:50px;
    color:white; /*color: black is easier to read*/
    /*margin: 0; gets rid of space at top */
    text-align:center;
    padding:60px;
    padding-right:15px;
}

div.destination{
    padding-left:650px;
}
aside{
    margin:0;
    line-height:3.0;
    font-family:'Times New Roman', Times, serif;
    font-size: 16px;
    width: 200px;
    height:100%;
    background-color:palegoldenrod;
    position:fixed;
    padding-right:20px;
    border-collapse: collapse;   
 }
section{
    padding-left:250px;
    padding-top:150px; /*If we get rid of Destination Canada photo, get rid of padding-top here*/
}
pre .click{
    padding-left:120px;

}
header{background-image: url(./resources/miscImages/Where-to-eat-Canada2.jpg);
    background-size: cover; /*background image is centered, no repeating*/
    height:250px;
    margin:0px;
}
table.proimages1{
    padding-left:120px;
}
img.proimages-img{
    width:150px;
    height:150px;
}
div.proimages-title{
    font-size:12px;
}
    footer.copyright{
    padding:5px; background-color:#d4d7dc; text-align:center;
}