#restaurantNameAndPricePoint h1,
#restaurantNameAndPricePoint p{
    display: inline;
}
/*Defaults section*/
p{

}
/*---end---*/
/*lindsay's section*/
header {

}
/*---end---/*
/*Justin's section */
main{

}
/*---end---*/
/*kelsey*/
footer nav {
    background-color: palegoldenrod;
    height: 40px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 10px;
    
}
footer li {
    display: inline;
    padding: 0 20px 0 20px;

}
footer a {
    text-decoration: none;
}

/*---end---*/