/* font import */
@import url('https://fonts.googleapis.com/css2?family=Hind+Madurai:wght@300;400;500;600;700&family=Lora:ital,wght@0,400;0,500;0,600;0,700;1,400;1,500;1,600;1,700&family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
/*Defaults section*/
p, a{
    font-family: 'Hind Madurai';
}
h1, h2 {
    font-family: 'Montserrat';
}
h3, h4, h5, h6 {
    font-family: 'Lora';
}
body{
    margin: 0px;
}
/*---end---*/
/*lindsay's section*/
#headerNav {
    background-color: palegoldenrod;
    height: 40px;
    text-align: center;
}

#headerNav ul {
    list-style-type: none;
    padding: 10px;
}

#headerNav li {
    display: inline;
    padding: 0 20px 0 20px;
}

#headerNav a {
    text-decoration: none;
}


.provinceNav {
        list-style-type: none;
        margin: 0;
        padding: 0;
        width: 25%;
        height: 100%;
        position: fixed;
        overflow: auto;
}

  .provNav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 25%;
    height: 100%; /* Full height */
    position: fixed; /* Make it stick, even on scroll */
    overflow: auto; /* Enable scrolling if the sidenav has too much content */
  }
  
 
/*---end---/*
/*Justin's section */
main{
    text-align: center;
    background-color:   #FFF0D7;

}
#dynamicContent > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
}
#dynamicContent > div > div {
    margin: 20px;
    border-style: solid;
    border-color: #B2853F;
    background-color: #FFF;
    border-width: 7px;
}
#dynamicContent > div > div:hover {
    background-color:#E7C692;
}
#dynamicContent img{
    width:  300px;
    height: 300px;
    object-fit: cover;
    border-bottom: solid;
    border-color:  #B2853F;
}
#dynamicContent h3{
    width: 250px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    text-align: center;
    margin: 5px auto 5px auto;
}
#dynamicContent a:link {
    text-decoration: inherit;
    color: inherit;
}
#dynamicContent a:visited {
    text-decoration: inherit;
    color: inherit;
}
/*---end---*/
/*kelsey*/
footer nav {
    background-color: palegoldenrod;
    height: 40px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 10px;
}
footer li {
    display: inline;
    padding: 0 20px 0 20px;
}
footer a {
    text-decoration: none;
}

/*---end---*/