#restaurantNameAndPricePoint h1,
#restaurantNameAndPricePoint p{
    display: inline;
}
/*Defaults section*/
p{

}
/*---end---*/
/*lindsay's section*/
header {

}
/*---end---/*
/*Justin's section */
main{

}
#dynamicContent > div{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    display: -webkit-box;      /* OLD - iOS 6-, Safari 3.1-6 */
    display: -moz-box;         /* OLD - Firefox 19- (buggy but mostly works) */
    display: -ms-flexbox;      /* TWEENER - IE 10 */
    display: -webkit-flex;     /* NEW - Chrome */
}
#dynamicContent img{
    width:  100px;
    height: 100px;
    object-fit: cover;
}
/*---end---*/
/*kelsey*/
footer nav {
    background-color: palegoldenrod;
    height: 40px;
    text-align: center;
}

footer ul {
    list-style-type: none;
    padding: 10px;
    
}
footer li {
    display: inline;
    padding: 0 20px 0 20px;

}
footer a {
    text-decoration: none;
}

/*---end---*/